[Unit]
Description=Launch the discord bot
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=java -jar /target/dbot-1.0.0-jar-with-dependencies.jar 


[Install]
WantedBy=multi-user.target
